header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F0FFFF;
    height: 100px;
    
}
h1{
    padding: 5px;
    margin-left: 20px;
    color : #000080;
}
.topo{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
}
.topo a{
    color: #000080;
}
.topo a img{
    width: 30px;
    height: 30px; 
    
}

main{
    width: 100%;
    margin-top: 40px;
}

.inicio{
    display: flex;
    background-color: #F0FFFF;
    width: 100%;
    height: 300px;
    gap: 30px;
    text-align: center;
    
}
.imagem-inicio{
    flex: 1;
}
.imagem-inicio img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.texto-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 10px;
    padding-top: 30px;

}
.texto-inicial .textinho{
    padding: 8px 15px;
    border: none;
    background-color: #000080;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
   
}
.texto-inicial .textinho:hover{
    background-color: #0000b3;
    transform: scale(1.05);
}
h3{
    display: flex;
    justify-content: center;
    font-size:30px;
    color:#000080 ;
}
.produtos-destaque{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #F0FFFF;
    height:400px ;
}
.produtos-destaque .produtos{
    background-color: #dcfafa;
    width:350px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    margin-top: 25px;

}
.produtos-destaque .produtos img{
    width: 300px;
    height: 200px;
    margin-top: 15px;
    border-radius: 15px;
}
button{
    padding: 8px 15px;
    border: none;
    background-color: #000080;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #0000b3;
    transform: scale(1.05);
}

.sobre-nos{
    display: flex;
    margin-top: 25px;
    background-color:  #F0FFFF;
    height: 300px;

}
.sobre-nos img{
    display: flex;
    width:100%;
    height: 300px;
    
}
footer{
    display: flex;
    justify-content: center;
    padding-top: 15px ;
}
@media (max-width: 768px){

    .inicio{
        flex-direction: column;
        height: auto;
    }

    .produtos-destaque{
        flex-direction: column;
        align-items: center;
        height: auto;
    }

}
